html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    padding: 65px 0;
}

.main-container {
    margin-top: 70px;
}

.name-caption {
    font-size: 20px;
    font-weight: bold;
}

.animated-image {
    width: 100%;
    max-width: 400px;
}

.header-greetings {
    background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
    display: inline;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-container .content .name {
    background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
    display: inline;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slide-in {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.content .name::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

.content .name.stop-blinking::before {
    animation: none;
}

.apply-text-white {
    color: #fff !important;
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-container {
    display: block;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    background-color: #212529;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    opacity: 1;
    transition: opacity 0.7s ease-in;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #BD53ED transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content .btn {
    background: #135ff3;
    padding: 8px 15px;
    font-size: 22px;
    border: 0;
}

.content .swipe-btn:hover {
    background-color: white !important;
    color: #135ff3 !important;
}

.about {
    background-color: #141b25;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

#goToTopBtn {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 992px) {
    .nav-item:nth-child(3) {
        justify-content: flex-start !important;
        padding: 1rem 0rem;
    }
}

.content {
    display: grid;
    place-items: center;
}

.content-text {
    display: grid;
    place-items: center;
}

.content-text p {
    max-width: 1200px;
}

.grid-center {
    display: grid;
    place-items: center;
}

.table-center {
    display: table;
    margin: 0 auto;
}

.technologies .row .d-flex img {
    border-radius: 14px;
    width: 200px;
}

.technologies img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.position-fixed-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.greetings {
    background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
    color: white;
    width: fit-content;
}

.Docker {
    padding: 16px;
    background-color: #fff;
}

.heroku {
    padding: 0 14px;
    background-color: #400099;
}

.figma {
    padding: 10px;
    background-color: white;
}

.boot {
    padding: 0 10px;
    background-color: #fff;
}

.flutter {
    padding: 0 10px;
    background-color: white;
}

@media (max-width: 768px) {
    #education .card {
        max-width: 768px;
    }
}

.bg-maple {
    background-color: #f1536e !important;
}

.bg-blue {
    background-color: #3da5f4 !important;
}

.bg-green {
    background-color: #00c689 !important;
}

@media (min-width: 768px) {
    .profile .profile-img {
        height: 55vw;
    }

    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }

    .profile {
        height: 50vw;
        width: 50vw;
    }

    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }

    .profile .dots-3 {
        width: 3vw;
        left: 1.5vw;
    }

    .profile .dots-4 {
        width: 3vw;
        left: -4vw;
    }

}

@media (min-width: 576px) {
    .profile .profile-img {
        height: 45vw;
    }

    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }

    .profile {
        height: 60vw;
        width: 60vw;
    }

    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }

    .profile .dots-3 {
        width: 3vw;
        left: 1.5vw;
    }

    .profile .dots-4 {
        width: 3vw;
        left: -4vw;
    }
}

.profile .dots-1 {
    position: absolute;
    width: 3vw;
    right: 1.5vw;
    top: 4vw;
}

.profile .dots-2 {
    position: absolute;
    width: 3vw;
    right: -4vw;
    top: 6.05vw;
}

.profile .dots-3 {
    position: absolute;
    width: 3vw;
    left: 1.5vw;
    bottom: 6.05vw;
}

.profile .profile-img {
    height: 60vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.profile .dots-4 {
    position: absolute;
    width: 3vw;
    left: -4vw;
    bottom: 4vw;
}

.profile {
    position: relative;
    height: 60vw;
    width: 60vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}

.profile .dots-2 svg {
    fill: #fff;
}

.profile .dots-4 svg {
    fill: #fff;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: relative;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid white;
}

.dots {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}